body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    color: #474432;
}

header {
    padding: 40px;
}

header img {
height: 150px;
border-radius: 50%;
}

header, footer {
    background-color: #D0BD5C;
    text-align: center;
}

nav {
    background-color: #C7BD8B;
    text-align: center;
}

nav ul {
    margin: 0;
    padding: 20px;
}

nav ul li {
    display: inline;
    margin: 20px;
}

nav ul li a{
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    color: #474432;
}

section {
    background-color: #C7BD8B;
    margin: 50px;
    padding: 40px;
    border-radius: 25px;
}

footer {
    padding: 10px;
}

.buttom-contato {
    border: 0px;
    color: #000000;
    padding: 10px;
}

.buttom-contato:hover {
    cursor:pointer;
    color: white;
    background-color:rgba(0, 0, 0, 0.303);
}

.buttom-menu {
    border: 0px;
    color: #474432;
    padding: 20px;
}

.buttom-menu:hover {
    cursor:pointer;
    color: #474432ae;
}

.invalid {
    border: 2px solid rgba(255, 0, 0, 0.536);
}

@media only screen and (max-width: 580px) {
    nav ul li {
        margin: 10px;
    }
}

@media only screen and (max-width: 520px) {
    nav ul li {
        margin: -5px;
    }
}

@media only screen and (max-width: 490px) {
    nav ul li {
        margin: -15px;
    }
}